body {
    background-color: rgba(221, 176, 107, 0.644);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
td{
    border: #000, 1px;
}